@page "/user/register"
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrar</h3>
                </div>
                <img src="~/images/icons/logo.png" width="150" class="mx-auto w-25" alt="Alternate Text" />
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Input.email"></label> <!-- Vinculamos el modelo Input -->
                            <input autofocus type="email" asp-for="Input.email" class="form-control" />
                            <span asp-validation-for="Input.email" class="text-danger"></span> <!-- Mensajes de validacion -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial">
}
