@page "/user/register"
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <img src="~/images/icons/logo.png" width="150" class="mx-auto" alt="logo" />
                <br /><br />
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <!-- Vinculamos el modelo Input -->
                            <input autofocus placeholder="Correo Electronico" asp-for="Input.email" class="form-control" />
                            <span asp-validation-for="Input.email" class="text-danger"></span> <!-- Mensajes de validacion -->
                        </div>

                        <div class="form-group">
                            <input placeholder="Contraseña" asp-for="Input.password" class="form-control" />
                            <span asp-validation-for="Input.password" class="text-danger"></span> <!-- Mensajes de validacion -->
                        </div>

                        <div class="form-group">
                            <input placeholder="Confirmar Contraseña" asp-for="Input.confirmPassword" class="form-control" />
                            <span asp-validation-for="Input.confirmPassword" class="text-danger"></span> <!-- Mensajes de validacion -->
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial">
}
